body {
    margin: 0% 15% 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(49, 49, 49)
}

.title {
    text-align: center;
    border: 2px dashed black;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 5%;
}

img {
    width: 25%;
    height: auto;
}

li {
    margin-bottom: 10px;
}

ul, ol {
    margin-bottom: 5%;
}